{% load static %}
<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths gr__preview_hasthemes_com"
      style="" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title|default:'Tyca-juice' }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- All css here -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'shortcodes.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <script src="{% static 'modernizr-2.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <meta name="yandex-verification" content="d126779f3fec8c6a"/>
</head>
<body data-gr-c-s-loaded="true">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header Area Start -->
<header class="fixed">
    <div class="header-area ptb-30 header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="logo">
                        <a href="{% url 'main' %}"><img src="{% static 'logo2.png' %}" alt="co" height="80px"></a>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="content-wrapper">
                        <!-- Main Menu Start -->
                        <div class="main-menu text-right">
                            <nav style="display: block;">
                                <ul>
                                    <li><a href="{% url 'main' %}">Главная</a></li>
                                    {% if not user.is_authenticated %}
                                        <li><a href="{% url 'login' %}">Вход</a></li>
                                        <li><a href="{% url 'registration' %}">Регистрация</a></li>
                                    {% else %}
                                        <li><a href='{% url 'add_view' %}'>добавить коктейль</a></li>
                                        <li><a href='{% url 'logout' %}'>Выход</a></li>
                                    {% endif %}
                                <li><a href='{% url 'search_view' %}'>Поиск</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-2 bg-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h3>{{ title|default:'Tyca-juice' }}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Menu Area Start -->
{% block content %}

{% endblock %}
<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="footer-text-area fix bg-koffee ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center">
                        <span>© 2020. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- All js here -->
<script src="{% static 'jquery-1.js' %}"></script>
<script src="{% static 'bootstrap.js' %}s"></script>
<script src="{% static 'owl.js' %}"></script>
<script src="{% static 'jquery_002.js' %}"></script>
<script src="{% static 'ajax-mail.js' %}"></script>
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'plugins.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fa fa-angle-up"></i></a>


<div id="mgx-translator-popup"
     style="padding: 10px; margin: 0px; display: none; position: absolute; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px; text-align: center; line-height: 1.3em; z-index: 2147483647; overflow: auto;">
    <span></span>
    <div style="user-select: none; display: none; cursor: pointer;"></div>
    <span style="display: none; opacity: 0.8;"></span></div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(64750285, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/64750285" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>